@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
HTML, body{
    min-height: 100vh;
}
    

header{
    font-family: 'Passion One';
    text-align: center;
    font-size: 1.5em;
    background-color: black;
    color: beige;
    height: 150px;
}
header h1{
    font-variant: small-caps;
}
header > p{
    font-family: 'Passion One';
    padding: 9px 0px 0px 0px;
    
}
header  a{
    text-decoration: none;
    color: gray;
}
header  a:hover{
    text-decoration:underline ;
}
p{
    padding: 30px 0px 30px 30px;
    font-family: "Sriracha";
    border: 1px solid black;
    font-size: 1.5em;
    font-weight: 500;
}
.ft1{
    background-color: rgba(0, 0, 0, 0.137);
    width: 333px;
    color:  antiquewhite;
    padding: 0px;
}
p.ft1{
    margin-left: 30px;
}

div.fot1{
    background-size: cover;
    background: url('imagens/background001.jpg') right center  no-repeat   fixed;
    padding: 40px;
}
.fot2{

    background: url('imagens/background002.jpg') right center  no-repeat  fixed;
    padding: 40px;
    
}
footer > p{
    text-align: center;
    background-color: black;
    color: azure;
    
}